body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:rgba(0,0,0,0.5) url('netflixhomepage.jpg');
    background-blend-mode: darken;
}
.logo
{
    width:12%;
}
.btn
{
    padding: 8px 15px;
    color:#ffff;
    background-color: #e50914;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 9px;
}

.nav
{
    padding-top: 5px;
    padding-left: 2vw;
    padding-right: 5vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
select{
    margin-left:70%;
    
    padding: 9px ;
    border-radius: 5px;
}
.content
{
    color: #fff;
    position: absolute;
    margin-top: 8%;
    margin-left: 30%;

}
.content h1{
    font-size: 50px;

}
.content h2{
    font-size: 30px;
}
.class
{
    width: 100%;
    height: fit-content;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    display: flex;

}
.mail input{
    outline: none;
    border: none;
    padding: 12px 10px;
    size: 2em;
    width: 70%;
    margin: 1.5rem 0 0;
    background-color: transparent;
    border: 0.2px solid #fff;
    
    border-radius: 6px;
    box-shadow:0 0 2px #ffffffdb;
}

.mail a{
    height: fit-content;
    background-color: #e50914;
    color: #fff;
    padding: 11px 10px;
    text-decoration: none;
    border-radius: 6px;
}