body{
    
}
.logo
{
    width:12%;
}
.btn
{
    padding: 8px 15px;
    color:#ffff;
    background-color: #e50914;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.nav
{
    padding-top: 5px;
    padding-left: 2vw;
    padding-right: 5vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
select{
    margin-left:70%;
    padding: 9px;
}